<% extend('../layout') %>
<h1><%=title%></h1>
<hr>
<form method="POST">
  <label>FirstName:</label><br>
  <input type="text" name="firstname">
  <br>
  <label>LastName:</label><br>
  <input type="text" name="lastname">
  <br>
  <label>Phone:</label><br>
  <input type="text" name="phone">
  <br>
  <label>Email:</label><br>
  <input type="text" name="email">
  <br><br>
  <input type="submit" value="Save">
</form>